.verifi {
    color: #3498db;
}

.form2 {
    color:  rgb(14, 14, 14);
    font-size: 20px;
}

.card2 {
    background-color: #e4dfdf;
    border-radius: 15px;
    padding: 30px;
    margin: 130px;
    position: center;
    top: -100px;
}